<%= form_for(resource, as: resource_name, html: {id: "form-sign-up"} ,  url: registration_path(resource_name)) do |f| %>
    <div class="space-between column full_container">
        <div class="space-between column">
            <div width=90 mt=1>
                <%= render "devise/shared/error_messages", resource: resource %>
            </div>
            <h4 class="title center" mt=2 mb=2 weight=7>Cadastre-se no Rails Base</h4>
            <div form ui-row width="80">
                <div ui-col col="12" class="form-group">
                    <div class="input-group">
                        <%= label_tag 'Nome' %>
                        <%= f.text_field :name %>
                    </div>
                </div>
                <div ui-col col="12" class="form-group">
                    <div class="input-group">
                        <%= label_tag 'E-mail' %>
                        <%= f.email_field :email %>
                    </div>
                </div>
                <div ui-row width=100>
                    <div ui-col col="6" class="form-group">
                        <div class="input-group">
                            <%= label_tag 'Senha' %>
                            <%= f.password_field :password, autocomplete: "off" %>
                        </div>
                    </div>
                    <div ui-col col="6" class="form-group">
                        <div class="input-group">
                            <%= label_tag 'Confirmar Senha' %>
                            <%= f.password_field :password_confirmation, autocomplete: "off" %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div ui-col col="12" center class="form-group align-right text-center" width="80" mb=4>
            <button type="submit"  class="button" width="100" value="" font-size=1 mb=1>Entrar</button>
            <a href="<%= new_session_path(resource_name) %>" width=100>Já possui cadastro? Entre aqui!</a>
        </div>
    </div>
<% end %>
