<!DOCTYPE html>
<html lang="en">
  <!-- BEGIN HEAD -->
  <%= render 'layouts/admin/head' %>
  <!-- END HEAD -->
  <body>
    <!-- BEGIN ADMIN CONTENT -->
    <div id="appAdmin" v-cloak>
      <!-- BEGIN NAVBAR -->
      <%= render 'layouts/admin/navbar' %>
      <!-- END NAVBAR -->
      <div class="d-flex">
        <!-- BEGIN SIDEBAR -->
        <%= render 'layouts/admin/sidebar' %>
        <!-- END SIDEBAR -->
        <div class="px-5 vh-91 w-100" style="height: 91vh;overflow-y: scroll;">
          <%= render "layouts/admin/messages" %>
          <!-- BEGIN MAIN CONTENT -->
          <main class="pt-3">
            <%= yield %>
            <%= render "layouts/admin/footer" %>
          </main>
          <!-- END MAIN CONTENT -->
        </div>
      </div>
    </div>
    <!-- END ADMIN CONTENT -->
  </body>
</html>