<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.hidden_field :reset_password_token %>
  <h4>Alterar senha</h4>
  <div class="form-group">
    <%= label_tag 'Nova senha', nil, class: 'col-form-label' %>
    <%= f.password_field :password, autofocus: true, autocomplete: "off", placeholder: 'Digite a nova senha', class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= label_tag 'Confirmação da senha', nil, class: 'col-form-label' %>
    <%= f.password_field :password_confirmation, autofocus: true, autocomplete: "off", placeholder: 'Repita a senha', class: 'form-control' %>
  </div>
  <div class="text-end mt-3">
      <button class="btn btn-primary btn-block w-100" type="submit">Salvar</button>
    </div>
<% end %>
