<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <h4><%=translate_view_new('title')%></h4>
  <p><%=translate_view_new('subtitle')%></p>
  <div class="form-group">
    <%= label_tag attribute_translation("user", "email"), nil, class: 'col-form-label' %>
    <%= text_field_tag "user[email]", nil, id: "login-email", class: "form-control", placeholder: translate_view_shared('email_placeholder'), autofocus: true %>
  </div>
  <div class="form-group mb-0">
    <div class="text-end mt-3">
      <button class="btn btn-primary btn-block w-100" type="submit"><%=translate_view_shared('submit')%></button>
    </div>
  </div>
<% end %>

