<p><%=t("emails.reset_password_instructions.title", email: @resource.email)%></p>

<p><%=t("emails.reset_password_instructions.change_password_solicited")%>.</p>

<p><%= link_to t("emails.reset_password_instructions.change_password_link"), edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%=t("emails.reset_password_instructions.ignore")%></p>
<p><%=t("emails.reset_password_instructions.password_not_change")%></p>
