<p><%=t("emails.reset_password_instructions.title", locale: locale, email: @resource.email)%></p>

<p><%=t("emails.reset_password_instructions.change_password_solicited", locale: locale)%>.</p>

<p><%= link_to t("emails.reset_password_instructions.change_password_link", locale: locale), edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%=t("emails.reset_password_instructions.ignore", locale: locale)%></p>
<p><%=t("emails.reset_password_instructions.password_not_change", locale: locale)%></p>
