<!-- MODAL NUTRITIONAL TABLE -->
  <div class="modal fade modal-dialog-center in" id="modal-change-password-action-<%=user.id.to_s%>"
    tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog ">
      <div class="modal-content-wrap">
        <div class="modal-content">
          <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
              <h4 class="modal-title"><%=translate_view_shared("change_password_modal.title")%></h4>
          </div>
          <%= form_for user, :url => { :action => 'update_all_passwords', :controller => 'users', :method => :patch } do |f| %>
            <%= f.hidden_field(:id, :value => user.id.to_s) %>
            <div class="modal-body">
              <div class="form-group">
                <div class="field">
                  <%= f.label translate_view_shared("change_password_modal.current_password") %> <i></i><br />
                  <%= f.password_field :current_password, class: 'form-control' %>
                </div>
              </div>
            <div class="form-group">
                <div class="field">
                  <%= f.label :password, translate_view_shared("change_password_modal.new_password") %><br />
                  <%= f.password_field :password, :autocomplete => "off", class: 'form-control'  %>
                </div>
              </div>
              <div class="form-group">
                <div class="field">
                  <%= f.label translate_view_shared("change_password_modal.confirm_new_password") %><br />
                  <%= f.password_field :password_confirmation, class: 'form-control' %>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <div class="pull-left">
                <button data-dismiss="modal" class="btn btn-default" type="button"><%=translate_view_shared('close')%></button>
              </div>
              <div class="form-group">
                <%= f.submit translate_view_shared('save'), :class => 'btn btn-primary' %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <!-- FIM MODAL NUTRITIONAL TABLE -->