<div class="row">
  <div class="mb-3">
    <%= form.label :name, class: 'form-label' %>
    <%= form.text_field :name, class: 'form-control', id: "#{instance.class.name.downcase}_#{:name}"  %>
  </div>
  <div class="mb-3">
    <%= form.label :email, class: 'form-label' %>
    <%= form.text_field :email, class: 'form-control', id: "#{instance.class.name.downcase}_#{:email}"%>
  </div>
	<% if current_user.admin? %>
    <div class="mb-3">
      <%= form.label :role, class: 'form-label' %>
      <%= form.select :roles, user_roles_options, { prompt: 'Selecione o Perfil do Usuário' }, class: 'form-select' %>
		</div>  
	<% end %>
</div>