<div class="row">
  <div class="mb-3">
    <%= form.label :name, class: 'form-label' %>
    <%= form.text_field :name, class: 'form-control', id: "#{instance.class.name.downcase}_#{:name}"  %>
  </div> 
  <div class="mb-3">
    <%= form.label :email, class: 'form-label' %>
    <%= form.text_field :email, class: 'form-control', id: "#{instance.class.name.downcase}_#{:email}" %>
  </div>
  <% if current_user.admin? %>
    <div class="mb-3">	
      <%= form.label :role, class: 'form-label' %>
      <%= form.select :roles, user_roles_options, { prompt: translate_view_new('role_placeholder') }, class: 'form-select' %>
    </div>
  <% end %>
  <% if current_user.admin? and !current_tenant.present? %>
    <div class="mb-3">
      <%= form.label :tenant, class: 'form-label' %>
      <%= form.select :tenant_id, tenant_options, { prompt: translate_view_new('tenant_placeholder') },  class: 'form-select' %>
    </div>
  <% end %>
  <div class="mb-3">
    <%= form.label :password, class: 'form-label' %>
    <%= form.password_field :password, class: 'form-control', id: "#{instance.class.name.downcase}_#{:password}"  %>
  </div>
  <div class="mb-3">
    <%= form.label :password_confirmation, class: 'form-label' %>
    <%= form.password_field :password_confirmation, class: 'form-control', id: "#{instance.class.name.downcase}_#{:password_confirmation}"  %>
  </div>
</div>
