<% if instances.nil? %>
  <div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold"><%=translate_view_index('no_instances', { model_name: model_plural_translation.downcase})%></h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4"> <%=translate_view_index('new_instance', { model_name: model_singular_translation.downcase})%></p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <a class='btn btn-primary btn-lg px-4 gap-3' href="<%= instance_new_path %>"><i class="bi bi-plus"></i><%=translate_view_index('new_button', model_name: model_singular_translation.downcase )%></a> 
      </div>
    </div>
  </div>
<% else %>
  <div class="row my-3">
    <form id="form_search" action=<%= instances_index_path %> method="get">
      <div class="input-group flex-nowrap">
        <input type="search" id="input-search" class="form-control" name="term" value="<%= params[:term] %>" placeholder="<%=translate_view_shared('search_placeholder', model_name: model_plural_translation.downcase)%>" aria-label="Search" aria-describedby="Search field">
        <button type="submit" class="input-group-text bi bi-search" ></button>
      </div>
    </form>
  </div>
  <div class="row">
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
            <th class=t-center><b><%= sort_link("#{model_plural_name}.name", attribute_translation(model_singular_name, 'name')) %></b></th>
            <th class=t-center><b><%= sort_link("#{model_plural_name}.role", attribute_translation(model_singular_name, 'role'))%></b></th>
            <th class=t-center><b><%= sort_link("#{model_plural_name}.email", attribute_translation(model_singular_name, 'email'))%></b></th>
            <th class=t-center><b><%= sort_link("#{model_plural_name}.last_sign_in_at", attribute_translation(model_singular_name, 'last_sign_in_at'))%></b></th>
            <th wrap-btn-table>&nbsp;</th>
          </tr>
        </thead>
        <tbody >
          <% instances.each do | instance| %>
            <tr id='tr_<%= "#{instance.class.name}_#{instance.id}"%>'>
              <td class="t-center"><span> <%= instance.name %></span></td>
              <td class="t-center"><span> <%= instance.roles.map{|e|e.role} %></span></td>
              <td class="t-center"><span> <%= instance.email %></span></td>
              <td class="t-center"><span> <%= translate_datetime_format_default(instance.last_sign_in_at, "dt_at") %></span></td>
              <td wrap-btn-table>
                <div>
                  <%= render partial: "index_table_actions", locals: {instance: instance} %>
                </div>
              </td>
            </tr>
            <%= render partial: 'modal_destroy', locals: { instance: instance, url: instance_remove_path(instance), model_name: model_singular_translation } %>
          <% end %>
        </tbody>
      </table>
      <%= render partial: 'pagination', locals: {instances: instances} %>
    </div>
  </div>
<% end %>

