<!-- Button trigger modal -->
<div class="modal" id="modal_destroy_<%=instance.id%>">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"><%=translate_view_destroy('title_modal', model_name: model_singular_translation.downcase)%></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
        <div class="modal-body">
          <p><h4><%=translate_view_destroy('subtitle_modal', model_name: model_singular_translation.downcase)%></h4></p>
        </div>
        <div class="d-flex justify-content-between modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><%=translate_view_shared('cancel')%></button>
          <%= link_to translate_view_shared('remove'), url, data: { turbo_method: :delete }, class: "btn btn-danger" %>
        </div>
    </div>
  </div>
</div>