<%= link_to raw("<div class='btn p-0 text-black'><span class=\"bi bi-chevron-left\"></span> "+translate_view_shared("back")+"</div>"), instances_index_path %>

<div class="d-flex justify-content-between mt-2">
  <div>
    <h3><%= translate_view_shared('new_title', model_name: model_singular_translation) %></h3>
  </div>
  <div>
    <a href=<%= "#{instances_index_path}"%> class="btn btn-outline-secondary"><%=translate_view_shared("cancel")%></a>
    <button type="submit" @click="submitForm('<%= 'new_' + instance.class.name.underscore %>')" class="btn btn-primary"><%= translate_view_shared("save") %></button>
  </div>
</div>