<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <% if instances.current_page > 1 %>
      <li class="page-item">
        <a id="page_previous" class="page-link" href="<%= pagination_path(instances.current_page-1)%>">
          <i class="bi bi-chevron-left"></i>
        </a>
      </li>
    <% end %>
    <% pagination_pages_array(instances).each do |page| %>
        <li class="page-item">
          <a href=<%= pagination_path(page)%> class="page-link <%= active_page_class(instances, page)%>"><%= page %></a>
          </li>
    <% end %>
    <% if instances.current_page != instances.total_pages %>
      <li class="page-item">
        <a id="page_next" class="page-link" href="<%= pagination_path(instances.current_page+1)%>">
          <i class="bi bi-chevron-right"></i>
        </a>
      </li>
    <% end %>
  </ul>
</nav>