<% content_for :stylesheet do %>
    <%= stylesheet_link_tag 'edit' %>
<% end %>
<!-- BEGIN EDIT PAGE -->
<div class="row">
  <div class="col">
    <%= render partial: 'edit_header', locals: { instance: @instance } %>
  </div>
  <%= form_for @instance, url: instance_update_path(@instance), method: 'patch' do |f| %>
    <%= render partial: 'form_errors' %>
    <%= render partial: 'form_update', locals: { instance: @instance, form: f } %>
  <% end %>
</div>
<!-- END EDIT PAGE -->