<% content_for :stylesheet do %>
    <%= stylesheet_link_tag 'edit' %>
<% end %>
<!-- BEGIN NEW PAGE -->
<div class="row">
  <div class="col">
    <%= render partial: 'new_header', locals: { instance: @instance } %>
  </div>
  <%= form_for @instance, url: instance_create_path, multipart: true, method: 'post', html: { novalidate: true} do |f| %>
    <%= render partial: 'form_errors' %>
    <%= render partial: 'form_create', locals: { instance: @instance, form: f } %>
  <% end %>
</div>
<!-- END NEW PAGE -->